<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <title>Заметки</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <button id="addCardButton" @click="openModal">Add to card</button>
    <div v-bind:class="{ 'open': showModal }" class="modal">
        <div class="modal-content">
            <form class="cardForm" @submit.prevent="addCard">
                <p>
                    <label for="GroupName">Name of the card:</label>
                    <input id="GroupName" v-model="groupName" placeholder="Name of the card">
                </p>
                <div v-for="(input, index) in inputs" :key="index">
                    <p>
                        <label :for="'Input' + uuid">{{ index + 1 }}:</label>
                        <input :id="'Input' + uuid" v-model="inputs[index]" placeholder="Write down a note">
                    </p>
                </div>
                <p>
                    <input type="submit" value="Create a new card">
                </p>
                <button @click="showModal = false">Close</button>
            </form>
        </div>
    </div>

    <div class="columns">
        <div class="column" :class="{ 'full': column.tasks.length >= 3 }">
            <h2>To Do</h2>
            <div class="tasks">
                <div v-for="(task, index) in column.tasks" :key="index" class="task">
                    <h3>{{ task.groupName }}</h3>
                    <ul>
                        <li v-for="(input, index) in task.inputs" :key="index">{{ input }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column" :class="{ 'full': column.tasks.length >= 5 }">
            <h2>In Progress</h2>
            <div class="tasks">
                <div v-for="(task, index) in column.tasks" :key="index" class="task">
                    <h3>{{ task.groupName }}</h3>
                    <ul>
                        <li v-for="(input, index) in task.inputs" :key="index">{{ input }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column">
            <h2>Done</h2>
            <div class="tasks">
                <div v-for="(task, index) in column.tasks" :key="index" class="task">
                    <h3>{{ task.groupName }}</h3>
                    <ul>
                        <li v-for="(input, index) in task.inputs" :key="index">{{ input }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
