<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Заметки</title>
</head>
<body>
<div id="app" :class="{ 'app_card': true, 'disabled': column1Locked }">
    <form class="form" @submit.prevent="addCard">
        <input class="title_form" type="text" v-model="newCardTitle" placeholder="Group name:" :disabled="column2Full1">
        <input class="text_form" v-for="(item, index) in newCardItems" type="text" v-model="item.text" :placeholder="'Input ' + (index + 1)" :disabled="column2Full1">
        <button class="baton" type="submit" :disabled="column2Full1">Add Task</button>
    </form>
    <div class="column" :disabled="column2Full1">
        <h2>To Do</h2>
        <div v-for="(card, index) in plannedTasks" :key="index" class="card" :class="{'disabled': column2Full1}">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="(item, i) in card.items" :key="i">
                    <input type="checkbox" v-model="item.checked" :disabled="column1Locked" @change="checkItem(card)">
                    <input type="text" v-model="item.text" :disabled="column1Locked" @change="updateItemText(card, item, $event.target.value)">
                </li>
            </ul>
        </div>
    </div>
    <div class="column" :class="{'disabled': column2Locked}">
        <h2>In Progress</h2>
        <div v-for="(card, index) in progressTasks" :key="index" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="(item, i) in card.items" :key="i">
                    <input type="checkbox" v-model="item.checked" :disabled="column1Locked" @change="checkItem(card)">
                    <label>{{ item.text }}</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="column1">
        <h2>Done</h2>
        <div v-for="(card, index) in completedTasks" :key="index" class="card">
            <h3>{{ card.title }}</h3>
            <ul>
                <li v-for="(item, i) in card.items" :key="i">
                    {{ item.text }}
                </li>
            </ul>
            <p v-if="card.completed" class="lastCheckbox">Date and time of the last execution: {{ card.lastCompleted }}</p>
            <span class="last-checked">{{ card.lastChecked }}</span>
        </div>
    </div>
</div>
<script defer src="js/vue.js"></script>
<script defer src="js/main.js"></script>
</body>
</html>